body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;

    background-position: center;
}


.sign-up-form {
    width: 300px;
    box-shadow: 0 0 3px 0 #00296B;
    padding: 30px;
    margin: 1% auto 0;
    text-align: center;
}

#izquierda {
    align-items: center;
}

.sign-up-form h1 {
    color: #00296B;
    margin-bottom: 20px;
}

.input-box {
    border-radius: 10px;
    padding: 10px;
    margin: 5px -5px;
    width: 100%;
    border: 1px solid #002561;
    outline: none;
    background-color: #00296B;
}

button {
    color: #002561;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.Sign-button {
    background-color:#FDC500;


}

.facebook {
    background-color: #FDC500;
}

#hr {
    margin-top: 10px;
    width: 70%;
    font-size: 20px;
    color: #00296B;
}

#or {
    color: #002561;
    width: 30px;
    margin: 5px auto 10px;
}

svg {
    width: 50px;
    margin-top: -100px;
    color: #002561;
}

.sign-up-form p {
    color: #002561;
    font-size: 20px;
}

a {
    font-size: 25px;
    color: #002561;
}